body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000;
}

h1 {
    color: #b30000;
}

h2 {
    color: #b30000;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.tab-button.active {
    background: #8b0000;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 15px;
    padding: 15px;
    margin: 0px -20px;
}

.character-card {
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    background-color: rgb(59, 2, 2);
    border-radius: 10px;
    padding: 10px;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.char-page {
    display: none;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.profile-img {
    width: 250px;
    border-radius: 10px;
    margin: 10px 0;
}

.back-btn {
    background: #8b0000;
    padding: 10px 15px;
    border: none;
    color: rgb(255, 249, 249);
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
}

.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 3fr));
    gap: 20px;
    margin: 0px -20px;
}

.tab-card {
    max-width: 260px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.tab-card:hover {
    transform: scale(1.05);
}

.film-card img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

body {
    background: #070711;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.titulo {
    text-align: center;
    margin: 30px 0;
    font-size: 32px;
    letter-spacing: 2px;
}

.timeline {
    position: relative;
    width: 7000px; /* espaço enorme para 50 filmes */
    padding: 120px 0;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.linha {
    position: absolute;
    top: 50%;
    width: 172%;
    height: 4px;
    background: white;
}

.item {
    position: relative;
    text-align: center;
}

.item img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border: 3px solid red;
    border-radius: 8px;
}

/* TEXTO */
.item span {
    display: block;
    margin-top: 8px;
    width: 180px;
    font-size: 15px;
}

/* POSIÇÃO ACIMA */
.item.up {
    transform: translateY(-180px);
}

/* POSIÇÃO ABAIXO */
.item.down {
    transform: translateY(180px);
}

/* LINHA QUE CONECTA (vertical) */
.item::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 3px;
    height: 90px;
    background: white;
    transform: translateX(-50%);
}

/* Linha sobe ou desce dependendo do item */
.item.up::after {
    top: 315px;   /* sai de baixo da imagem */
}

.item.down::after {
    top: -90px;   /* sai de cima da imagem */
}

